.headingWrapper {
    width: 100%;
    background-color: var(--color-black);

}

.headingContainer {
    margin-inline: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: var(--color-white);
}

.sectionContainer {
    margin: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}